*.iml
.gradle
/local.properties
**/.idea/**
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/local/plugin/
/app/local/tools/

**/libBaiduOcr/**
**/libSecurity/**
**/Template*.cpp
**/*.har
**/*.template
**/*.jks

**/人员记录/**
**/读卡器驱动/**
**/test/local/**
